# Server Configuration
PORT=5000
NODE_ENV=development

# Supabase PostgreSQL Connection String
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# JWT 
JWT_SECRET=supersecretkey_skillswap_2026
JWT_EXPIRES_IN=7d

# Firebase Admin SDK (Lokasi file json)
FIREBASE_ADMIN_CREDENTIALS=./src/config/firebase_admin.json
